.container-empty {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 16px;

  height: 400px;
  color: #9495a5;
}

.container-empty img {
  width: 200px;
  height: auto;
}
